.wrapper {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grid-item {
    /* min-height: 100px;
    min-width: 200px; */

    display: inline-grid;
    border: 2px black solid;
    align-items: center;
    justify-content: center;
}

.triplewide ~ .grid-item {
    min-height: 200px;
}

/* Colours */
.triplewide {
    background-color: lightblue;

    grid-column: 1 / 4;
}

.doublewide {
    background-color: beige;

    grid-column: 1 / 3;
}

.doubletall {
    background-color: coral;

    grid-row: span 2;
}

.standard {
    background-color: aquamarine;
}