/* Browser Reset */
* {
    padding: 0%;
    margin: 0%;
}

/* Screen Sizing Variables */
$sm: 600px;
$md: 900px;

/* Mixins with customisations */
@mixin german {
    flex-direction: column;

    &__one {
        background-color: black;
    }

    &__two {
        background-color: red;
    }

    &__three {
        background-color: gold;
    }
}

@mixin belgian {
    flex-direction: row;

    &__one {
        background-color: black;
    }

    &__two {
        background-color: gold;
    }

    &__three {
        background-color: red;
    }
}

@mixin irish {
    flex-direction: row;

    &__one {
        background-color: green;
    }

    &__two {
        background-color: white;
    }

    &__three {
        background-color: orange;
    }
}

/* Base Styling and Grid Setup */
.flag {
    display: grid;
    height: 100vh;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100vw;
    
    /* Orientation Flip */
    @media only screen and (max-width: $sm) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 100vh;
    }
    
    /* Change mixin based on screen size */
    @media only screen and (max-width: $sm) {
        @include german;
    }

    @media only screen and (min-width: ($sm + 1px)) and (max-width: $md) {
        @include belgian;
    }
    
    @media only screen and (min-width: ($md + 1px)) {
        @include irish;
    }
}